<div class="ui one cards" >
  <% articles.each do |article| %>
    <div class="ui card" style="margin: 0.875em auto; width:60%;">
      <div class="content">
        <div class="header"> <%= article.title %></div>
        <div class="meta"><%= article.user.name %></div>
        <div class="description"><%= article.content %></div>
        <div class="thumb_count_div" >
          <% if UserThumbedArticle.thumbed_up? current_user.id, article.id %>
            <span class="thumb_down_span" data-regret-count="<%= article.regret_count %>" >
              <%= link_to users_thumb_up_path(article_id: article.id), method: :post, remote: true do %>
                <%= fa_icon 'heart-o' %>
              <% end %>
              <span class='thumb_count'><%= article.regret_count %></span>
            </span>
          <% else %>
            <span class="thumb_up_span">
              <%= fa_icon 'heart' %>
              <span class='thumb_count' ><%= article.regret_count %></span>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.thumb_down_span').click(function(){
    $(this).find('i').removeClass('fa-heart-o');
    $(this).find('i').addClass('fa-heart');
    var regretCount = parseInt($(this).data('regret-count')) + 1;
    $(this).find('.thumb_count:first').text(regretCount);
    $(this).find('a:first').css("pointer-events", "none");
  });
</script>